* {
   box-sizing: border-box;
   margin: 0;
}

body {
   background: whitesmoke;
   display: flex;
   flex-direction: column;
   font-family: sans-serif;
   height: 100vh;
}

header {
   height: 10vh;
}
header h1 {
   font-size: 250%;
   padding: 1%;
}

main {
   height: 85vh;
}
main h2 {
   padding: 1%;
}
main img {
   height: 50vh;
}
main p {
   padding: 1%;
}

footer {
   height: 5vh;
}
